* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 8vh;
    background-color: #69A7A9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 20;
}

#title {
    display: flex;
    justify-content: space-between;
}

main {
    width: 100vw;
    height: 100vh;
    padding-bottom: 5vh;
}

#about-page {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets-2/mobile_bg-telas.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-color: #BEE1E5;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#about-container {
    width: 65vw;
    height: 8vh;
    padding: 10vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#ul-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

#li-header {
    display: flex;
    flex-direction: column;
}

#btnLogoutMobile {
    border: none;
    background-color: transparent;
}

footer {
    width: 100vw;
    height: 10vh;
    background-color: #69A7A9 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 90vh;
    z-index: 21;
    /*para as publicações fiquem por baixo*/
}

#nav-footer a {
    text-decoration: none;
    color: black;
}

#ul-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

#li-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnTopMobile {
    border: none;
    background-color: transparent;
}

