@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
}

header {
    width: 100vw;
    height: 8vh;
    background-color: #69A7A9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 20;
}

#ul-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.li-header {
    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    justify-content: center;
}

#root {
    width: 100vw;
    min-height: 100vh;
}

main {
    width: 100vw;
    min-height: 100vh;
}

#about-page {
    width: 100vw;
    min-height: 100vh;
    background-image: url(../../assets-2/mobile_bg-telas.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-color: #BEE1E5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#about-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3vh;
}

#textInform {
    width: 80vw;
    height: 42vh;
    background-color: #85B8BC;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    border-radius: 15px;
    padding: 1.5rem;
    margin-top: 10vh;
    display: flex;
    align-items: center;
}

#containerInforms {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5vh;
    gap: 5vh;
}

#titleDev {
    font-size: 1.2rem;
    font-weight: 500;
}

#containerDevs {
    display: flex;
    justify-content: space-evenly;
}

#devOne,
#devTwo {
    width: 30vw;
    height: 16vh;
    background-color: #85B8BC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    padding-top: 0.5rem;
}

#containerDevOne,
#containerDevTwo {
    display: flex;
    gap: 0.5rem;
}

#faceIconOne,
#faceIconTwo {
    font-size: 2.5rem;
}

.textName {
    font-size: 1rem;
}

.imgIcons {
    width: 7vw;
    height: 5vh;
}

#ul-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

#li-header {
    display: flex;
    flex-direction: column;
}

#logoutMobileBtn {
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 700;
}

footer {
    width: 100vw;
    height: 10vh;
    background-color: #69A7A9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 90vh;
    z-index: 21;
    /*para as publicações fiquem por baixo*/
}

#nav-footer a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 700;

}

#ul-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-size: 10rem;
    font-weight: 700;
}

.li-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnTopMobile {
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 700;
}

#logoutHeaderOne,
#homeFooterOne,
#infoFooterOne,
#arrowUpFooterOne {
    font-size: 1.6rem;
}

/* Para tablets */
@media (min-width: 768px) and (max-width: 1024px) {

    #title {
        font-size: 2.2rem;
    }

    #textInform {
        width: 70vw;
        height: 48vh;
        font-size: 1.5rem;
    }

    #containerInforms {
        margin-top: 4vh;
        gap: 4vh;
    }

    #titleDev {
        font-size: 1.6rem;
    }

    #containerDevs {
        display: flex;
        justify-content: space-between;
    }

    #devOne,
    #devTwo {
        width: 22vw;
        height: 17vh;
        gap: 0.5rem;
        padding-top: 1rem;
    }

    #containerDevOne,
    #containerDevTwo {
        gap: 1rem;
    }

    #faceIconOne,
    #faceIconTwo {
        font-size: 3.6rem;
    }

    .textName {
        font-size: 1.5rem;
    }

    .imgIcons {
        width: 4vw;
        height: 4vh;
    }

    #logoutMobileBtn {
        font-size: 1.1rem;
        font-weight: 600;
    }

    #nav-footer a {
        font-size: 1.2rem;
        font-weight: 600;
    }

    #ul-footer {
        font-size: 1.1rem;
        font-weight: 600;
    }

    #btnTopMobile {
        font-size: 1.1rem;
        font-weight: 600;
    }


    #logoutHeaderOne,
    #homeFooterOne,
    #infoFooterOne,
    #arrowUpFooterOne {
        font-size: 2.3rem;
        font-weight: 600;
    }
}

/* Para telas maiores */
@media screen and (min-width: 1024px) {

    header,
    footer {
        display: none;
    }

    #title {
        font-size: 2rem;
    }

    #about-page {
        width: 100vw;
        min-height: 100vh;
        background-image: url(../../assets-2/web_bg-telas.png);
        background-size: cover;
        background-position: 0% 45%;
    }

    #about-container {
        margin-top: 10vh;
        /* border: solid #fff; */
    }

    #textInform {
        width: 42vw;
        height: 37vh;
        font-size: 1.1rem;
    }

    #containerInforms {
        margin-top: 5vh;
        gap: 5vh;
    }

    #titleDev {
        font-size: 1.5rem;
    }

    #containerDevs {
        gap: 2rem;
    }

    #devOne,
    #devTwo {
        width: 10vw;
        height: 20vh;
        gap: 0.4rem;
        padding-top: 1rem;
    }

    #containerDevOne,
    #containerDevTwo {
        gap: 0rem;
    }

    #faceIconOne,
    #faceIconTwo {
        font-size: 3rem;
    }

    .textName {
        font-size: 1.3rem;
    }

    .imgIcons {
        width: 2.5vw;
        height: 4vh;
    }

    #logoutMobileBtn {
        font-size: 0.9rem;
    }

    #nav-footer a {
        font-size: 0.9rem;
    }

    #btnTopMobile {
        font-size: 0.9rem;
    }

    #logoutHeaderOne,
    #homeFooterOne,
    #infoFooterOne,
    #arrowUpFooterOne {
        font-size: 1.6rem;
    }

    #containerSidebar {
        width: 100vw;
        height: 100vh;
        background-color: #69A7A9;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* border: solid #fff; */
    }

    .sidebar {
        width: 280px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem 1.5rem;
        background-color: #85B8BC;
        display: block;
        transition: 0.5s;
        white-space: nowrap;
        /* border: solid #fff; */
    }

    .sidebar.close {
        width: 110px;
    }

    .sidebar .iconsLogo {
        background-color: #BEE1E5;
        min-width: 60px;
        min-height: 50px;
        font-size: 2.2rem;
        font-weight: 700;
        color: #054040;
        border-radius: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.1s;
    }

    /* .sidebar .logo{
        background-color: red;
        border: solid #fff;
      } */

    .sidebar .text,
    .textLink {
        font-size: 1.5rem;
        font-weight: 800;
        color: #054040;
        text-align: center;
        transition: 0.4s;
        white-space: nowrap;
        visibility: visible;
    }

    .sidebar.close .textLink {
        visibility: hidden;
    }

    .sidebar.close #textLogo {
        visibility: hidden;
    }

    #textLogo {
        font-size: 1.3rem;
        font-weight: 800;
        color: #054040;
    }

    .sidebar .logo-text {
        position: relative;
    }

    .sidebar span.material-symbols-outlined.toggle {
        height: 35px;
        width: 35px;
        position: absolute;
        top: 10%;
        right: -20px;
        background-color: #DB9F8F;
        border-radius: 50%;
        color: #F6E7E3;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%) rotate(180deg);
        transition: 0.3s;
        cursor: pointer;
        /* border: solid red; */
    }

    .sidebar.close span.material-symbols-outlined.toggle {
        transform: translateY(-50%);
    }

    .sidebar,
    .menuLinks {
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    .sidebar li,
    .logo {
        height: 50px;
        margin-top: 10px;
        list-style: none;
        display: flex;
        align-items: center;
        /* background-color: red; */
        /* border: solid blue; */
        gap: 2vh;
    }

    .sidebar li .icons {
        min-width: 60px;
        font-size: 2.2rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.1s;
        /* background-color: #fff; */
    }

    .sidebar li .text,
    .icons,
    #logoutSidebarBtn,
    .textLink {
        font-size: 1.3rem;
        font-weight: 500;
        transition: 0.1s;
    }

    .sidebar li .text:hover,
    .icons:hover,
    .textLink:hover,
    #logoutSidebarBtn:hover {
        color: #DB9F8F;
    }

    .sidebar li .nav-text,
    .textLink,
    .text {
        width: 100%;
        height: 100%;
        text-decoration: none;
        border-radius: 11px;
        display: flex;
        align-items: center;
        transition: 0.2s;
    }

    .sidebar .logo {
        display: flex;
        flex-direction: column;
    }

    #logoutSidebarBtn {
        width: 100%;
        height: 100%;
        border: none;
        color: #054040;
        background-color: transparent;
        border-radius: 11px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: 0.2s;
    }

    .sidebar li .nav-text:hover,
    #logoutSidebarBtn:hover {
        background-color: #BEE1E5;
    }

    .sidebar,
    .menu-bar {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
        gap: 10vh;
    }
}