* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    /* height: 68vh; */
    height: 73vh;
    /* padding: 5vh; */
}

/* #btns {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 3vh 5vw 0 5vw;
}

#ul-btns {
    list-style: none;
} */

#buttonLogin a {
    text-decoration: none;
    color: black;
}

#btnCreate a {
    text-decoration: none;
    color: black;
}