* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets-2/mobile_login-e-cadastro.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #BEE1E5;
}

main {
    width: 100vw;
    /* height: 68vh; */
    height: 73vh;
    /* padding: 5vh; */
}

/* #btns {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 3vh 5vw 0 5vw;
}

#ul-btns {
    list-style: none;
} */

#loginButton a {
    text-decoration: none;
    color: black;
}

#registerBtn a {
    text-decoration: none;
    color: black;
}