@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 1.5rem;
  color: #054040;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 0.88rem;
  font-weight: 400;
}

h4 {
  font-size: 0.9rem;
  font-weight: 500;
}

p,
a {
  font-size: 0.88rem;
  font-weight: 500;
}

#welcome {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2vh;
  gap: 0.3rem;
}

#register-page {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets-2/mobile_login-e-cadastro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-color: #BEE1E5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#register-container {
  width: 80vw;
  height: 70vh;
  background: #85B8BC;
  padding: 10vw;
  margin-top: 5vh;
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.30);
  /* border: solid #7e0660; */
}

#createUserName,
#createEmail,
#createPassword,
#confirmPassword {
  width: 60vw;
  height: 5vh;
  background-color: #E6EAEA;
  border: none;
  border-radius: 11px;
  margin: 0.8vh 0;
  padding-left: 5vw;
}

#createUserName::placeholder,
#createEmail::placeholder,
#createPassword::placeholder,
#confirmPassword::placeholder {
  font-size: 0.8rem;
  font-weight: 500;
}

#registerBtn a {
  text-decoration: none;
  color: #0048ff;
}

#registerBtn {
  border: none;
  background-color: transparent;
}

#googleIcon {
  width: 5vh;
}

#registerButton {
  width: 30vw;
  height: 4vh;
  background-color: #E6EAEA;
  font-size: 0.8rem;
  font-weight: 700;
  color: black;
  border: none;
  border-radius: 11px;
  margin-top: 1rem;
}

.registerButtonOne {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

#footerContainerRegister {
  width: 80vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#registerDevOne,
#registerDevTwo {
  color: #0048ff;
}

/* Para tablet*/
@media (min-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.35rem;
    font-weight: 400;
  }

  h4 {
    font-size: 1.4rem;
  }

  p,
  a {
    font-size: 1.35rem;
  }

  #createUserName::placeholder,
  #createEmail::placeholder,
  #createPassword::placeholder,
  #confirmPassword::placeholder {
    font-size: 1.2rem;
    padding: 1vw;
  }

  #registerButton {
    width: 22vw;
    height: 4vh;
    margin-top: 0.8vh 0;
  }

}

/* Para tablets */
@media (min-width: 768px) and (max-width: 1024px) {

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.35rem;
    font-weight: 400;
  }

  h4 {
    font-size: 1.4rem;
  }

  p,
  a {
    font-size: 1.35rem;
  }

  #welcome {
    height: 10vh;
  }

  #register-container {
    width: 65vw;
    padding: 7vw;
  }

  #createUserName,
  #createEmail,
  #createPassword,
  #confirmPassword {
    width: 100%;
    height: 5vh;
    padding: 2vw;
    margin: 1.2vh 0;
    background-color: #E6EAEA;
    border: none;
    border-radius: 11px;
  }

  #createUserName::placeholder,
  #createEmail::placeholder,
  #createPassword::placeholder,
  #confirmPassword::placeholder {
    font-size: 1.2rem;
    padding: 1vw;
  }

  #gotologin {
    margin-top: 3vh;
  }

  #registerButton {
    width: 20vw;
    height: 4vh;
    margin-top: 0.8vh 0;
  }

  .registerButtonOne {
    font-size: 1.2rem;
  }

  #footerContainerRegister {
    width: 65vw;
    height: 20vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

/* Para desktop */
@media screen and (min-width: 1024px) {

  h1 {
    font-size: 1.6rem;
    color: #054040;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1rem;
    font-weight: 500;
    
  }

  p,
  .registerButtonTwo {
    font-size: 1rem;
    font-weight: 500;
  }

  #welcome {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    margin-bottom: 3vh;
    gap: 0.3rem;
  }

  #register-page {
    width: 100vw;
    height: 100vh;
    background-image: none;
    background-color: #BEE1E5;
    background-image: url(../../assets-2/web_login-cadastro.png);
    background-position: 0% 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #container-register-style {
    width: 83.5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border: solid blue; */
  }

  #register-container {
    width: 28vw;
    height: 80vh;
    padding: 3vw;
    margin-top: 5vh;
    gap: 0.5rem;
    /* border: solid #054040; */
  }

  #createUserName,
  #createEmail,
  #createPassword,
  #confirmPassword {
    width: 20vw;
    padding-left: 1vw;
    margin: 0.8vh 0;
  }

  #createUserName::placeholder,
  #createEmail::placeholder,
  #createPassword::placeholder,
  #confirmPassword::placeholder {
    font-size: 1rem;
    padding: 0;
  }

  #registerButton {
    width: 8vw;
    height: 5vh;
    margin-top: 3vh;
    margin: 0.8vh 0;
    display: flex;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .registerButtonOne {
    font-size: 1rem;
  }

  #footerContainerRegister {
    width: 28vw;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid rebeccapurple; */
  }
}

/* Para Tvs*/
/* @media (min-width: 1200px) {
  
} */