@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#register-page {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets-2/mobile_login-e-cadastro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-color: #BEE1E5;
}

#register-container {
    width: 80vw;
    height: 70vh;
    padding: 10vw;
    margin-top: 5vh;
    background: #85B8BC;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

#welcome {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #inform-register {
    width: 80vw;
    height: 60vh;
    padding: 5vh;
    background: #85B8BC;
    border-radius: 20px;
    display: flex;
    text-align: center;
    display: inline-block;
    opacity: 1;
} */

#gotologin {
    margin-top: 5vh;
    /* color: #191a1a; */
}

#loginBtn {
    border: none;
    background-color: transparent;
}

#loginBtn a {
    text-decoration: none;
    color: #0048ff;
}

#createUserName, #createEmail, #createPassword, #confirmPassword {
    width: 100%;
    height: 5vh;
    padding: 5vw;
    margin: 0.8vh 0;
    background-color: #E6EAEA;
    border: none;
    border-radius: 11px;
}

#createUserName::placeholder, #createEmail::placeholder, #createPassword::placeholder, #confirmPassword::placeholder  {
    font-size: 17px;
    padding: 0.4vw;
}

#registerButton {
    width: 25vw;
    height: 4.5vh;
    margin-top: 5px;
    background-color: #E6EAEA;
    border: none;
    border-radius: 11px;
}

#registerButton a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 1.5rem;
    color: #054040;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 0.85rem;
}

h4 {
    font-size: 0.87rem;
    font-weight: 500;
}

p {
    font-size: 0.8rem;
    font-weight: 500;
    /* color: #8f4132; */
}

#developedBy {
    height: 10vh;
    display: flex;
    align-items: center;
}

#registerDevOne, 
#registerDevTwo {
    color:#0048ff;
}



/* Para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
   
    #register-container {
        width: 55vw;
        height: 60vh;
        padding: 2vw;
        margin-top: 8vh;
        background: #85B8BC;
        border-radius: 29px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
    }

    #nameApp {
        font-size: 2.2rem;
        margin-top: 3vh;
    }

    #welcome {
        height: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #gotologin {
        margin-top: 2.5vh;
        font-size: 1rem;
    }
    
    #loginBtn a {
        text-decoration: none;
        color: #0048ff;
    }
    
    #createUserName, #createEmail, #createPassword, #confirmPassword {
        width: 80%;
        height: 5vh;
        padding: 2vw;
        margin: 1.2vh 0;
        background-color: #E6EAEA;
        border: none;
        border-radius: 11px;
    }
    
    #registerButton {
        width: 15vw;
        height: 4vh;
        margin-top: 3vh;
        background-color: #E6EAEA;
        border: none;
        border-radius: 11px;
    }

    #createUserName::placeholder, #createEmail::placeholder, #createPassword::placeholder, #confirmPassword::placeholder  {
        font-size: 17px;
        padding: 0.4vw;
    }

    #developedBy {
        margin-bottom: 18vh;
        display: flex;
        align-items: center;
    } 

    h4 {
        font-size: 1.4rem;
        font-weight: 500;
    }
}





/* Para telas desktop */
@media screen and (min-width: 1024px) {
    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    #register-page {
        background-image: url(../../assets-2/web_login-cadastro.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center bottom;
    }

    #register-container {
        width: 32vw;
        height: 80vh;
        padding: 2vw;
        /* margin-top: 8vh;
        margin-left: 45vw; */
        background: #85B8BC;
        border-radius: 29px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        border: solid #054040;
    }

    #container-register-style {
        
    }

    #nameApp {
        font-size: 32px;
        margin-top: 3vh;
    }

    #welcome {
        height: 14vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #gotologin {
        margin-top: 6vh;
    }
    
    #loginBtn a {
        text-decoration: none;
        color: #0048ff;
        font-size: 1.2rem;
    }
    
    #createUserName, #createEmail, #createPassword, #confirmPassword {
        width: 90%;
        height: 6vh;
        padding: 2vw;
        margin: 1.2vh 0;
        background-color: #E6EAEA;
        border: none;
        border-radius: 11px;
    }

    #createUserName::placeholder, #createEmail::placeholder, #createPassword::placeholder, #confirmPassword::placeholder  {
        font-size: 18px;
        padding: 0.4vw;
    }
    
    #registerButton {
        width: 15vw;
        height: 4.5vh;
        margin-top: 3vh;
        background-color: #E6EAEA;
        border: none;
        border-radius: 11px;
        font-size: 1.2rem;
    }

    #developedBy {
        height: 10vh;
        margin-left: 40vw;
        display: flex;
        align-items: center;
        font-size: rem;
    } 

    h1 {
        font-size: 1.8rem;
        color: #054040;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.4rem;
        font-weight: 500;
    }

    p {
        font-size: 1.3rem;
        font-weight: 400;
    }

}