@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    color: #054040;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 0.85rem;
}

h4 {
    font-size: 0.87rem;
    font-weight: 500;
}

p {
    font-size: 0.8rem;
    font-weight: 500;
}

#register-page {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets-2/mobile_login-e-cadastro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-color: #BEE1E5;
}

#register-container {
    width: 80vw;
    height: 65vh;
    padding: 10vw;
    margin-top: -10vh;
    background: #85B8BC;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.30);
    /* border: solid #7e0660; */
}

#gotologin {
    margin-top: 5vh;
    /* color: #191a1a; */
}

#container-register-style {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    /* border: solid #054040; */
}

#nameApp {
    font-size: 1.4rem;
    margin-top: 1vh;
}

#welcome {
    height: 10vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginBtn {
    border: none;
    background-color: transparent;
}

#loginBtn a {
    text-decoration: none;
    color: #0048ff;
}

#createUserName,
#createEmail,
#createPassword,
#confirmPassword {
    width: 100%;
    height: 4vh;
    padding: 5vw;
    margin: 1vh 0 ;
    background-color: #E6EAEA;
    border: none;
    border-radius: 10px;
}

#createUserName::placeholder, 
#createEmail::placeholder, 
#createPassword::placeholder, 
#confirmPassword::placeholder  {
    font-size: 0.8rem;
    padding: 0.4vw;
}

#registerButton {
    width: 25vw;
    height: 4vh;
    margin-top: 15px;
    background-color: #E6EAEA;
    border: none;
    border-radius: 11px;
    font-size: 0.8rem;
    font-weight: 700;
    color: black;
}

#registerButton a {
    text-decoration: none;
    color: black;
}

#gotologin {
    margin-top: 8vh;
    /* color: #191a1a; */
}

#footerContainerRegister {
    height: 10vh;
    display: flex;
    align-items: flex-end;
}

#registerDevOne,
#registerDevTwo {
    color: #0048ff;
}

/* Para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    h4 {
        font-size: 1.4rem;
        font-weight: 500;
    }

    #register-container {
        width: 60vw;
        height: 65vh;
        padding: 2vw;
        background: #85B8BC;
        border-radius: 29px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #nameApp {
        font-size: 2.5rem;
        margin-top: 3vh;
    }

    #welcome {
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #welcome > h2 {
        font-size: 1.8rem;
        font-weight: 400;
    }

    #welcome > h3 {
        font-size: 1.2rem;
        font-weight: 400;
    }

    #gotologin {
        margin-top: 3vh;
        font-size: 1.3rem;
        font-weight: 400;
    }
    
    #loginBtn > a {
        text-decoration: none;
        color: #0048ff;
        font-size: 1.3rem;
    }
    
    #createUserName, 
    #createEmail, 
    #createPassword, 
    #confirmPassword {
        width: 82%;
        height: 5vh;
        padding: 2vw;
        margin: 1.2vh 0;
        background-color: #E6EAEA;
        border: none;
        border-radius: 11px;
    }

    #createUserName::placeholder, 
    #createEmail::placeholder, 
    #createPassword::placeholder, 
    #confirmPassword::placeholder  {
        font-size: 1.4rem;
        padding: 1vw;
    }
    
    #registerButton {
        width: 15vw;
        height: 4vh;
        margin-top: 3vh;
        background-color: #E6EAEA;
        border: none;
        border-radius: 11px;
    }

    #footerContainerRegister {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    h4 {
        font-size: 1.4rem;
        font-weight: 500;
    }
}

/* Para telas desktop */
@media screen and (min-width: 1024px) {
    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 1.6rem;
        color: #054040;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1.1rem;
        font-weight: 500;
    }

    p, a {
        font-size: 1rem;
        font-weight: 500;
    }

    #register-page {
        background-image: url(../../assets-2/web_login-cadastro.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center bottom;
    }

    #register-container {
        width: 34vw;
        height: 82vh;
        padding: 1vw;
        margin-top: 5vh;
        margin-left: 45vw;
        background: #85B8BC;
        border-radius: 29px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        opacity: 0.9;
        /* border: solid #054040; */
    }

    #container-register-style {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: solid #054040; */
    }

    #nameApp {
        font-size: 2.2rem;
        margin-top: 4vh;
    }

    #welcome {
        height: 13vh;
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #gotologin {
        margin-top: 5vh;
    }

    #loginBtn a {
        text-decoration: none;
        color: #0048ff;
        font-size: 1.2rem;
    }

    #createUserName,
    #createEmail,
    #createPassword,
    #confirmPassword {
        width: 90%;
        height: 6vh;
        padding: 1vw;
        margin: 1.5vh 0;
        background-color: #E6EAEA;
        border: none;
        border-radius: 11px;
    }

    #createUserName::placeholder, 
    #createEmail::placeholder, 
    #createPassword::placeholder, 
    #confirmPassword::placeholder  {
        font-size: 1rem;
        padding: 0.4vw;
    }

    #registerButton {
        width: 15vw;
        height: 4.5vh;
        margin-top: 5vh;
        background-color: #E6EAEA;
        border: none;
        border-radius: 11px;
        font-size: 1.3rem;
        font-weight: 400;
    }

    #footerContainerRegister {
        margin-top: 3vh;
        margin-left: 40vw;
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 1.8rem;
        color: #054040;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.4rem;
        font-weight: 400;
    }

    p {
        font-size: 1.3rem;
        font-weight: 400;
    }
}