@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 8vh;
    background-color: #69A7A9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 20;
    color: #054040;
}

#ul-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.li-header {
    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    justify-content: center;
}

main {
    width: 100vw;
    height: 100vh;
}

#feed-page {
    width: 100vw;
    height: 100%;
    background-image: url(../../assets-2/mobile_bg-telas.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-color: #BEE1E5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#displayName {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    margin-top: 9vh;
    color: #054040;
    font-size: 1.3rem;
}

#open-publication {
    width: 70vw;
    height: 7vh;
    padding: 3vw;
    border-radius: 0.3rem;
    background: #E6EAEA;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.20);
}

#publicationPoster {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

#feed-container {
    width: 80vw;
    height: 13vh;
    margin-top: 2vh;
    border-radius: 0.3rem;
    background-color: #85B8BC;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.20);
    position: relative;
}

#feed-container:hover {
    opacity: 1;
}

.poster-container {
    width: 80vw;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 2vh;
    border-radius: 0.3rem;
    /* padding: 5px;
    padding-left: 12px; */
    background: #DB9F8F;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.20);
    /* border: solid #054040; */
}

#poster {
    width: 74vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    /* border: solid #637b02; */
}

#userPoster {
    width: 45%;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    /* border: solid #55078a; */
}

#dataBoxPoster {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.8rem;
    font-weight: 500;
    /* border: solid #9b0543; */
}

#informsPublication {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: solid #10757d; */
}

#textBoxPoster {
    width: 73vw;
    height: 100%;
    display: flex;
    padding: 2.5vw;
    margin-bottom: 1vh;
    background: #F6E7E3;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    font-weight: 400;
    /* border: solid #05649b; */
}

#locationPoster {
    width: 73vw;
    height: 3vh;
    display: flex;
    align-items: center;
    padding: 0.1rem;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    background: #F6E7E3;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    font-weight: 400;
    /* border: solid #62059b; */
}

#locationInputPoster {
    font-size: 0.9rem;
}

#container-icons {
    width: 73vw;
    margin-bottom: 0.3vh;
    display: flex;
    justify-content: space-between;
    /* border: solid #9b0543; */
}

#edit-delete {
    display: flex;
    /* border: solid #0b7e6b; */
}

.like {
    display: flex;
    justify-content: flex-start;
    /* border: solid #05489b; */
}

#container-likes {
    width: 11.5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid #059b48; */
}

#likesCount {
    font-size: 1.1rem;
}

#dataPublication {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#dataBox {
    width: 26vw;
}

#logoutMobileBtn {
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 700;
}

footer {
    width: 100vw;
    height: 10vh;
    background-color: #69A7A9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 90vh;
    z-index: 21;
}

#nav-footer a {
    text-decoration: none;
    color: black;
}

#ul-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
}

#li-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #054040;
}

#li-footer > a {
    color: #032e2e;
    font-weight: 400;
}

#btnTopMobile {
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 700;
}

#fade,
#modal {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #69A7A9;
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.25);
    ;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}

#close-modal {
    display: flex;
    justify-content: flex-end;
    /* border-bottom: 1px solid #ccc; */
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    cursor: pointer;
}

#userPublication {
    display: flex;
    align-items: center;
    gap: 3vw;
    position: absolute;
    bottom: 21vh;
    font-size: 1rem;
    font-weight: 500;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

#location {
    display: flex;
    align-items: center;
    gap: 2vw;
}

#textBox {
    width: 77vw;
    height: 7vh;
    padding: 2vw;
    background-color: #E6EAEA;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
}

#textBox::placeholder,
#locationInput::placeholder {
    display: flex;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 400;
}

#locationInput {
    width: 60vw;
    height: 3.5vh;
    padding: 2vw;
    background-color: #E6EAEA;
    border: none;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    font-weight: 400;
}

#publication {
    display: flex;
    justify-content: center;
}

#publicationBtn {
    width: 25vw;
    height: 3vh;
    cursor: pointer;
    background-color: #E6EAEA;
    border: none;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
}

#close-modal,
#iconLocationPublication {
    font-size: 1.5rem;
    font-weight: 500;
}

#iconUserPublication {
    font-size: 2rem;
    font-weight: 500;
}


/* #containerEdit {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
} */

.edit {
    cursor: pointer;
}

.edit:hover {
    opacity: 0.8;
}

#fadeEdit,
#modalEdit {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fadeEdit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modalEdit {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #69A7A9;
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.25);
}

#modalEdit.hide,
#fadeEdit.hide {
    opacity: 0;
    pointer-events: none;
}

#modalEdit.hide {
    top: 0;
}

.modal-header-edit {
    width: 77vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    /* border: solid #637b02; */
}

#userPublicationEdit {
    width: 57vw;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    gap: 0.4rem; 
    /* border: solid #55078a; */
}

#closeEdit {
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    /* border: solid #9b0543; */
}

.modal-body-edit {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    /* border: solid red; */
}

#textBoxEdit {
    width: 75vw;
    height: 7vh;
    padding: 2vw;
    background-color: #E6EAEA;
    border: none;
    border-radius: 0.2rem;
}

#textBoxEdit::placeholder,
#locationInputEdit::placeholder {
    display: flex;
    text-align: left;
}

#locationEdit {
    display: flex;
    align-items: center;
    gap: 2vw;
}

#locationInputEdit {
    width: 60vw;
    height: 3.5vh;
    padding: 2vw;
    background-color: #E6EAEA;
    border: none;
    border-radius: 0.2rem;
}

#publicationEdit {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

#editBtnCancel,
#editBtnSave {
    width: 22vw;
    height: 3vh;
    cursor: pointer;
    background-color: #E6EAEA;
    border: none;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
}

#close-modal-edit,
#iconLocationEdit {
    font-size: 1.5rem;
    font-weight: 500;
}

#iconUserEdit {
    font-size: 2rem;
    font-weight: 500;
}

.delete {
    cursor: pointer;
}

.delete:hover {
    opacity: 0.8;
}

#fadeDelete,
#modalDelete {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fadeDelete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modalDelete {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #69A7A9;
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.25);
}

#modalDelete.hide,
#fadeDelete.hide {
    opacity: 0;
    pointer-events: none;
}

#modalDelete.hide {
    top: 0;
}

#close-modal-delete {
    height: 2vh;
    display: flex;
    justify-content: flex-end;
    /* border-bottom: 1px solid #ccc; */
    margin-bottom: 0.5rem;
    /* padding-bottom: 0.4rem; */
    position: relative;
    cursor: pointer;
    /* border: solid #c25a3d; */
}

.modal-body-delete {
    width: 80vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    /* border: solid #DB9F8F; */
}

#areaTextBoxDelete {
    width: 85%;
    height: 7vh;
    /* margin-top: -2vh; */
    border-radius: 0.4rem;
    background-color: #E6EAEA;
    display: flex;
    align-items: center;
    /* border: solid #0a8c42; */
}

#textBoxDelete {
    padding: 0.4rem 0 0.5rem 1rem;
    /* padding-left: 1rem; */
}

#publicationDelete {
    display: flex;
    column-gap: 5vw;
    /* border: solid #a14cb8; */
}

#deleteBtnCancel {
    width: 30vw;
    height: 3vh;
    cursor: pointer;
    background-color: #E6EAEA;
    border: none;
    border-radius: 0.4rem;
}

#deleteBtnSave {
    width: 30vw;
    height: 3vh;
    cursor: pointer;
    background-color: #E6EAEA;
    border: none;
    border-radius: 0.4rem
}

span.material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1;
}

/* Para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    #title {
        font-size: 2.2rem;
    }

    #logoutMobileBtn {
        font-size: 1.1rem;
        font-weight: 600;
    }

    #nav-footer a {
        font-size: 1.2rem;
        font-weight: 600;
    }

    #ul-footer {
        font-size: 1.1rem;
        font-weight: 600;
    }

    #btnTopMobile {
        font-size: 1.1rem;
        font-weight: 600;
    }

    #logoutHeaderTwo,
    #homeFooterTwo,
    #infoFooterTwo,
    #arrowUpFooterTwo {
        font-size: 2.3rem;
        font-weight: 600;
    }

    .modal-body-edit {
        gap: 1.2rem;
    }

    #modalEdit {
        padding: 1.2rem 2rem;
    }

    .modal-header-edit {
        width: 57vw;
        padding-bottom: 0.5rem;
        /* border: solid #637b02; */
    }
    
    #userPublicationEdit {
        width: 57vw;
        font-size: 1.4rem;
        padding: 0.1rem;
        /* border: solid #55078a; */
    }
    
    #closeEdit {
        width: 5vw;
        /* border: solid #9b0543; */
    }
    
    .modal-body-edit {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* border: solid red; */
    }

    #textBoxEdit {
        width: 56vw;
        font-size: 1.3rem;
        font-weight: 400;
    }

    #locationEdit {
        gap: 2vw;
    }

    #locationInputEdit {
        width: 45vw;
        height: 3.5vh;
        font-size: 1.2rem;
        font-weight: 400;
    }

    #publicationEdit {
        display: flex;
        justify-content: center;
        gap: 2vw;
    }

    #editBtnCancel,
    #editBtnSave {
        width: 16vw;
        font-size: 1.2rem;
        font-weight: 600;
    }

    #close-modal-edit,
    #iconLocationEdit {
        font-size: 2.1rem;
        font-weight: 500;
    }

    #iconUserEdit {
        font-size: 2.8rem;
        font-weight: 500;
    }
}

/* Para telas desktop */
@media screen and (min-width: 1024px) {

    #displayName {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1vw;
        margin-top: 5vh;
        /* margin-right: 25vw; */
        position: relative;
        font-size: 1.8rem;
        color: #054040;;
    }

    header, footer {
        display: none;
    }

    #feed-page {
        width: 100vw;
        height: 100%;
        background-image: url(../../assets-2/web_bg-telas.png);
        background-size: cover;
        background-position: 0% 45%;
    }
    
    #open-publication {
        width: 35vw;
        height: 4vh;
        padding: 2vw;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        background: #E6EAEA;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.20);
        /* border: solid #05642e; */
    }

    #feed-container{
        width: 38vw; 
        height: 14vh; 
        margin-top: 2vh;
        border-radius: 0.4rem;
        background-color: #85B8BC;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0.9;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.20);
        position: relative;
    }
    
    #feed-container:hover {
        opacity: 1;
    }
    
    #publicationPoster {
        width: 52%;
        height: 100%;
        margin-top: 2vh;
        margin-bottom: -2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: solid #053664; */
    }

    .poster-container {
        width: 50vw;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 2vh;
        border-radius: 10px;
        /* padding: 5px;
        padding-left: 12px; */
        background: #DB9F8F;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 0.1rem; */
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.20);
        /* border: solid #55078a; */
    }

    #poster {
        width: 45vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: solid #637b02; */
    }

    #userPoster {
        width: 22vw;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-self: flex-start;
        font-size: 1.2rem;
        font-weight: 400;
        /* border: solid #55078a; */
    }

    #dataBoxPoster {
        width: 22vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.2rem;
        /* font-weight: 400; */
        /* border: solid #9b0543; */
    }

    #informsPublication {
        width: 45vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        /* border: solid #10757d; */
    }

    #textBoxPoster {
        width: 45vw;
        height: 100%;
        padding: 1rem;
        margin-bottom: 1vh;
        display: flex;
        justify-content: flex-start;
        text-align: justify;
        background: #F6E7E3;
        border-radius: 5px;
        /* border: solid #05649b; */
    }

    #locationPoster {
        width: 45vw;
        height: 3.3vh;
        margin-top: 1vh;
        display: flex;
        align-items: center;
        background: #F6E7E3;
        border-radius: 5px;
        /* border: solid #62059b; */
    }

    #container-icons {
        width: 45vw;
        margin: 0.5vh;
        display: flex;
        justify-content: space-between;
        /* border: solid #9b0543; */
    }

    #edit-delete {
        display: flex;
        /* border: solid #0b7e6b; */
    }

    .like {
        display: flex;
        justify-content: flex-start;
        /* border: solid #05489b; */
    }

    #container-likes {
        width: 3vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* border: solid #059b48; */
    }

    #likesCount {
        font-size: 1.2rem;
    }

    .modal-body-delete {
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1vh;
        /* border: solid #DB9F8F; */
    }

    #areaTextBoxDelete {
        width: 95%;
        height: 9vh;
        /* padding: 0.2vw; */
        /* margin-top: -2vh; */
        border-radius: 0.4rem;
        background-color: #E6EAEA;
        display: flex;
        justify-content: center;
        /* border: solid #0a8c42; */
    }

    #deleteBtnCancel, #deleteBtnSave {
        width: 10vw;
        height: 4vh;
        margin-top: 2vh;
        cursor: pointer;
        background-color: #E6EAEA;
        border: none;
        border-radius: 0.4rem;
    } 

    #title {
        font-size: 2rem;
    }

    #logoutMobileBtn {
        font-size: 0.9rem;
    }

    #nav-footer a {
        font-size: 0.9rem;
    }

    #btnTopMobile {
        font-size: 0.9rem;
    }

    #logoutHeaderOne,
    #homeFooterOne,
    #infoFooterOne,
    #arrowUpFooterOne {
        font-size: 1.6rem;
    }

    .modal-body-edit {
        gap: 1rem;
    }

    #modalEdit {
        padding: 1.2rem 2rem;
    }

    .modal-header-edit {
        width: 32vw;
        border: solid #637b02;
    }
    
    #userPublicationEdit {
        font-size: 1.2rem;
        border: solid #55078a;
    }
    
    #closeEdit {
        width: 4vw;
        border: solid #9b0543;
    }
    
    #textBoxEdit {
        width: 32vw;
        height: 12vh;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    #locationEdit {
        gap: 0.8rem;
    }

    #locationInputEdit {
        width: 25vw;
        height: 5vh;
        font-size: 1.1rem;
        padding: 0.7rem;
    }

    #publicationEdit {
        gap: 1vw;
    }

    #editBtnCancel,
    #editBtnSave {
        width: 8vw;
        height: 4vh;
        font-size: 1rem;
        font-weight: 600;
    }

    #close-modal-edit,
    #iconLocationEdit {
        font-size: 1.7rem;
        font-weight: 500;
    }

    #iconUserEdit {
        font-size: 2.5rem;
        font-weight: 500;
    }

    #iconLocationFeed,
    #iconEditFeed,
    #iconDeleteFeed,
    #iconLikeFeed {
        font-size: 1.5rem;
        font-weight: 500;
    }

    #userPoster {
        font-size: 2.2rem;
        font-weight: 500;
    }
}

